.team8 {
  color: #1d4c8b;
  background: #fff8ee;
  padding: auto; }
  .team8 .header .container-fluid .row .img {
    margin-top: 10px; }
    .team8 .header .container-fluid .row .img img {
      width: 50%;
      height: 40%;
      margin-left: 25%; }
  .team8 .header .container-fluid .row .title {
    margin-top: 10px; }
    .team8 .header .container-fluid .row .title p {
      letter-spacing: 15px;
      color: #517ead;
      font-size: 20px; }
  .team8 .header .container-fluid .row .title1 {
    margin-top: 10px;
    color: #517ead; }
    .team8 .header .container-fluid .row .title1 #wrapper #header #toggle {
      display: none;
      color: #fff;
      text-align: right;
      padding: 10px;
      font-size: 20px;
      cursor: pointer; }
    .team8 .header .container-fluid .row .title1 #wrapper #header ul {
      list-style-type: none; }
    .team8 .header .container-fluid .row .title1 #wrapper #header nav #main-menu li a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 8px 15px; }
    @media screen and (max-width: 768px) {
      .team8 .header .container-fluid .row .title1 #wrapper #header #main-menu {
        flex-direction: column;
        text-align: center; }
      .team8 .header .container-fluid .row .title1 #wrapper #header #toggle {
        display: block; }
      .team8 .header .container-fluid .row .title1 #wrapper #header nav {
        display: none; } }
    .team8 .header .container-fluid .row .title1 #wrapper #header #main-menu {
      margin-top: 10px;
      color: #517ead; }
      .team8 .header .container-fluid .row .title1 #wrapper #header #main-menu .dropdown {
        float: left;
        margin-right: 30px;
        position: relative; }
        .team8 .header .container-fluid .row .title1 #wrapper #header #main-menu .dropdown a {
          text-decoration: none;
          color: #517ead; }
        .team8 .header .container-fluid .row .title1 #wrapper #header #main-menu .dropdown .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1; }
          .team8 .header .container-fluid .row .title1 #wrapper #header #main-menu .dropdown .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block; }
          .team8 .header .container-fluid .row .title1 #wrapper #header #main-menu .dropdown .dropdown-content a:hover {
            background-color: #f1f1f1; }
      .team8 .header .container-fluid .row .title1 #wrapper #header #main-menu .dropdown:hover .dropdown-content {
        display: block; }
  .team8 .group1 {
    width: 100%; }
    .team8 .group1 .container-fluid .cotact {
      width: 100%;
      height: 100%;
      position: relative;
      color: #FFF;
      font-size: 1.5rem; }
      .team8 .group1 .container-fluid .cotact img {
        width: 100%;
        height: 100%; }
      .team8 .group1 .container-fluid .cotact .contactus {
        color: #fff;
        font-size: 180%;
        background: #0099FF;
        width: 20%;
        height: 10%;
        position: absolute;
        top: 80%;
        left: 80%;
        transform: translate(-50%, -50%); }
  .team8 .group2 {
    margin-top: 2%; }
    .team8 .group2 .container .row {
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      background: #6699FF; }
      .team8 .group2 .container .row p {
        margin-top: 2%;
        color: #006699;
        font-size: 200%; }
      .team8 .group2 .container .row a {
        margin-top: 10%;
        font-size: 150%;
        background: #3366ff;
        color: #fff;
        border-bottom-left-radius: 60px;
        border-top-left-radius: 60px;
        border-bottom-right-radius: 60px;
        border-top-right-radius: 60px; }
  .team8 .group3 {
    margin-top: 5%; }
    .team8 .group3 .container .row .title1 {
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      border: 1px groove #000; }
      .team8 .group3 .container .row .title1 .page {
        border-bottom: 2px dotted #000; }
        .team8 .group3 .container .row .title1 .page h1 {
          color: #1d4c8b;
          margin-left: 5%; }
      .team8 .group3 .container .row .title1 .row {
        margin-top: 2%; }
        .team8 .group3 .container .row .title1 .row .page1 ul {
          margin-bottom: 3%;
          list-style: none; }
        .team8 .group3 .container .row .title1 .row .page1 li {
          color: #1d4c8b;
          margin-bottom: 10%;
          list-style: none; }
        .team8 .group3 .container .row .title1 .row .page1 a {
          font-size: 150%; }
        .team8 .group3 .container .row .title1 .row .page2 ul {
          margin-bottom: 3%;
          list-style: none; }
        .team8 .group3 .container .row .title1 .row .page2 li {
          margin-bottom: 10%;
          list-style: none; }
        .team8 .group3 .container .row .title1 .row .page2 a {
          font-size: 150%; }
    .team8 .group3 .container .row .title2 img {
      margin-top: 10%;
      width: 100%;
      height: 20%; }
    .team8 .group3 .container .row .title2 .txt {
      margin-top: 5%;
      font-size: 150%;
      background: #33FFFF;
      width: 95%;
      text-align: center;
      height: 20%;
      border-bottom-left-radius: 60px;
      border-top-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-right-radius: 60px; }
      .team8 .group3 .container .row .title2 .txt a {
        color: #000; }
    .team8 .group3 .container .row hr {
      margin-top: 5%; }
  .team8 .group4 {
    color: #1d4c8b;
    margin-left: 5%; }
    .team8 .group4 .Guide {
      height: 30%;
      margin-bottom: 2%; }
      .team8 .group4 .Guide p {
        font-size: 120%; }
      .team8 .group4 .Guide h1 {
        color: #1d4c8b; }
      .team8 .group4 .Guide li {
        color: #1d4c8b;
        font-size: 120%; }
      .team8 .group4 .Guide strong {
        font-size: 120%; }
      .team8 .group4 .Guide a {
        font-size: 120%; }
      .team8 .group4 .Guide hr {
        margin-top: 3%; }
    .team8 .group4 .supporter {
      height: 20%; }
      .team8 .group4 .supporter p {
        font-size: 120%; }
      .team8 .group4 .supporter h1 {
        color: #1d4c8b; }
      .team8 .group4 .supporter li {
        font-size: 120%; }
      .team8 .group4 .supporter strong {
        font-size: 120%; }
      .team8 .group4 .supporter a {
        font-size: 120%; }
      .team8 .group4 .supporter hr {
        margin-top: 3%; }
    .team8 .group4 .guide-dogs {
      height: 20%; }
      .team8 .group4 .guide-dogs p {
        font-size: 120%; }
      .team8 .group4 .guide-dogs h1 {
        color: #1d4c8b; }
      .team8 .group4 .guide-dogs li {
        font-size: 120%; }
      .team8 .group4 .guide-dogs strong {
        font-size: 120%; }
      .team8 .group4 .guide-dogs a {
        font-size: 120%; }
      .team8 .group4 .guide-dogs hr {
        margin-top: 3%; }
    .team8 .group4 .general-enquiries {
      height: 10%; }
      .team8 .group4 .general-enquiries p {
        font-size: 120%; }
      .team8 .group4 .general-enquiries h1 {
        color: #1d4c8b; }
    .team8 .group4 .contact h1 {
      margin-top: 50px;
      color: #1d4c8b;
      font-weight: bold; }
    .team8 .group4 .contact input {
      width: 60%;
      height: 35px;
      border: solid 3px #1d4c8b;
      color: #1d4c8b;
      background: #fff8ee;
      margin-top: 20px; }
    .team8 .group4 .contact textarea {
      background: #fff8ee;
      border: solid 3px #1d4c8b;
      width: 60%;
      height: 75px;
      margin-top: 20px; }
    .team8 .group4 .contact a {
      margin-top: 50px;
      width: 400px;
      height: 50px;
      background: #1d4c8b;
      color: #FFF;
      width: 200px;
      border-bottom-left-radius: 70px;
      border-top-left-radius: 70px;
      border-bottom-right-radius: 70px;
      border-top-right-radius: 70px; }
  .team8 .group5 {
    background: #1d4b8a; }
    .team8 .group5 .container-fluid .row {
      color: #ffffff;
      margin-top: 5%; }
      .team8 .group5 .container-fluid .row .title1 p {
        letter-spacing: 11px; }
      .team8 .group5 .container-fluid .row .title2 input {
        width: 200px;
        margin-right: 20px;
        border: solid #ffffff;
        background: #1d4b8a;
        color: #ffffff; }
      .team8 .group5 .container-fluid .row .title2 input-placeholder {
        color: #ffffff; }
      .team8 .group5 .container-fluid .row .title2 a {
        text-align: center;
        width: 130px;
        height: 30px;
        text-decoration: none;
        background: #FFFFFF;
        border-bottom-left-radius: 70px;
        border-top-left-radius: 70px;
        border-bottom-right-radius: 70px;
        border-top-right-radius: 70px; }
  .team8 .group5 {
    margin-top: 3%; }

/*# sourceMappingURL=Contact.css.map */
